*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --gray-palette: 221, 221, 221;
  --dark-palette: 51, 51, 51;
  --light-palette: 248, 248, 248;
  --border-color: rgba(var(--gray-palette), 1);
  --font-color: rgba(var(--dark-palette), 1);
  --background-color: rgba(var(--light-palette), 1);
}

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app header.entry {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.app main.entry {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.app footer.entry {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 1rem;
}
