.grow-wrap {
  display: grid;
  max-width: 85ch;
  word-break: break-all;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 auto;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
  background-color: transparent;
  border: none;
  outline: none;
}

.grow-wrap > textarea,
.grow-wrap::after {
  border-bottom: 1px solid var(--font-color);
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}

.grow-wrap > textarea:focus {
  border-bottom: 2px solid var(--font-color);
}
