.header {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--font-color);
  text-align: center;
  padding: 2.5rem 1rem 0;
}

.header h1 {
  margin: 0.2rem 0;
  font-size: 3rem;
  font-weight: 300;
}

.header p {
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.sub-header {
  color: var(--font-color);
  font-weight: 300;
}
