.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.header p {
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}

.sub-header {
  padding-left: 1em;
}
