.predictions {
  margin: 0;
  padding: 0;
  columns: 1;
  display: block;
  list-style: none;
  min-height: 75px;
  width: 100%;
}

.prediction-section {
  height: unset;
}

.predictions li {
  margin: 8px;
  padding: 4px;
  min-width: 120px;
  text-align: center;
}

.predictions:after {
  width: 100%;
  text-align: center;
}

.predictions:empty:after {
  content: "Looks good";
}

.predictions .emoji {
  margin-left: 4px;
}

@media (min-width: 320px) {
  .predictions {
    columns: 2;
  }
}

@media (min-width: 414px) {
  .predictions {
    display: flex;
    flex-direction: row;
    align-items: unset;
    justify-content: start;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .predictions {
    flex-direction: column;
    align-items: unset;
    justify-content: center;
  }

  .prediction-section {
    height: 100%;
    border-bottom: none;
    border-left: 1px solid var(--border-color);
  }
}
